---
import CustomArrow from "../CustomArrow.astro";
---

<article
  class="circle blur-effect border-2 border-[#3D2D42] p-6 relative col-span-3 row-span-2 bg-purple-500 min-h-[150px] rounded-[24px]"
>
  <img
    class="absolute right-0 top-0 bottom-20 m-auto"
    src="/public/svgs/discord.svg"
    width="200px"
  />
  <div
    class="absolute w-[200px] right-0 top-0 bottom-20 m-auto bg-gradient-to-b from-transparent to-[#0403038f]"
  >
  </div>
  <a
    href="https://discord.com/invite/comuafor"
    target="_blank"
    class="relative group z-20 flex h-full items-end"
  >
    <div class="flex gap-x-2 items-center">
      <p class="text-[#E2E2E2] hover:text-white text-4xl">ComuAfor</p>
      <CustomArrow />
    </div>
  </a>
</article>
