---
import CustomArrow from "../CustomArrow.astro";
---

<a href="https://discord.com/invite/comuafor" target="_blank">
  <img
    class="absolute right-0 top-3 m-auto"
    src="svgs/discord.svg"
    width="200px"
  />

  <div class="relative group z-20 flex h-full items-end">
    <div class="flex gap-x-2 items-center">
      <p class="text-[#E2E2E2] hover:text-white text-4xl">ComuAfor</p>
      <CustomArrow />
    </div>
  </div>
</a>
