---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<article class="px-8 py-4 flex gap-x-4 items-center justify-center h-full">
  <img
    src="/imgs/profile_photo.jpeg"
    alt="profile-photo"
    class="rounded-full aspect-square w-[150px]"
  />
  <div>
    <h1 class="font-bold text-[36px]">¡Eyyy!</h1>
    <p class="text-[20px]">
      {t("components.social.presentation")}
    </p>
  </div>
</article>
