---

---

<article
  class="blur-effect border-2 border-[#3D2D42] text-white px-8 py-4 flex gap-x-4 items-center col-span-5 rounded-[24px] min-h-[200px]"
>
  <img
    src="/imgs/profile_photo.jpeg"
    alt="profile-photo"
    class="rounded-full aspect-square w-[150px]"
  />
  <div>
    <h1 class="font-bold text-[36px]">¡Eyyy!</h1>
    <p class="text-[20px]">
      Soy front-end developer y dedico todos mis días a aprender y divulgar lo
      que aprendo.
    </p>
  </div>
</article>
