---
import CustomArrow from "../CustomArrow.astro";
---

<article class="max-w-full p-6 h-[200px] cursor-pointer">
  <div class="w-full h-full flex flex-col">
    <div class="flex color-white justify-end">
      <slot name="icon" />
    </div>
    <div class="flex flex-1 items-end">
      <div class="w-fit h-fit">
        <CustomArrow />
      </div>
    </div>
  </div>
</article>
