---
const { url, alt } = Astro.props
import CustomArrow from '../CustomArrow.astro'
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={alt}
  class="background glow-container blur-effect relative circle block"
>
  <article class="max-w-full p-6 h-[200px] cursor-pointer flex flex-col">
    <div class="flex text-white justify-end">
      <slot name="icon" />
    </div>
    <div class="flex flex-1 items-end">
      <div class="w-fit h-fit">
        <CustomArrow />
      </div>
    </div>
  </article>
</a>
