---
import CustomArrow from "../CustomArrow.astro";
import TwitchIcon from "../icons/TwitchIcon.astro";
---

<a
  href="https://twitch.tv/afor_digital"
  target="_blank"
  class="flex flex-col p-6 hover:text-white text-4xl h-full"
>
  <div class="w-full flex justify-end">
    <TwitchIcon width="55px" height="64px" />
  </div>
  <div class="flex-1 flex items-end">
    <div class="flex gap-x-2 items-center">
      <p>Sígueme</p>
      <CustomArrow />
    </div>
  </div>
</a>
