---

---

<a
  id="twitch-container"
  href="https://twitch.tv/afor_digital"
  target="_blank"
  class="relative col-span-8 px-8 rounded-[24px] overflow-hidden hidden text-2xl min-h-[250px] items-center justify-center"
>
  <div class="text-white px-8 w-full h-full flex flex-col justify-center absolute bg-[#472A72] z-20 opacity-90">
    <p class="text-3xl font-semibold"><span class="font-bold text-[#A970FF]">En vivo</span> en este momento</p>
    <p id="stream-title"></p>
  </div>
  <div style=`background-image: url(https://static-cdn.jtvnw.net/previews-ttv/live_user_afor_digital-440x248.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;` class="absolute top-0 z-10 w-full h-full"></div>
</a>

<script>
  getStatus();

  async function getStatus() {
    const STATUS_URL =
      "https://decapi.me/twitch/uptime/afor_digital?offline_msg=-1";

    return fetch(STATUS_URL)
      .then((response) => response.text())
      .then((data) => {
        if (data !== "-1") {
          const elem = document.getElementById(
            "twitch-container"
          ) as HTMLElement;
          elem.style.display = "flex";
          getTitle();
        }
      })
      .catch((error) => {
        console.error(error);
      });
  }

  async function getTitle() {
    const TITLE_URL = "https://decapi.me/twitch/title/afor_digital";

    return fetch(TITLE_URL)
      .then((response) => response.text())
      .then((data) => {
        const elem = document.getElementById("stream-title") as HTMLElement;
        elem.innerText = `${data}`;
      })
      .catch((error) => {
        console.error(error);
      });
  }
</script>
