---
import Layout from "@/layouts/Layout.astro";
import Presentation from "@/components/social/Presentation.astro";
import Nav from "@/components/Nav.astro";
import Discord from "@/components/social/Discord.astro";
import Github from "@/components/social/Github.astro";
import Instagram from "@/components/social/Instagram.astro";
import Portfolio from "@/components/social/Portfolio.astro";
import Tiktok from "@/components/social/Tiktok.astro";
import TwitchStatus from "@/components/social/TwitchStatus.astro";
import Twitch from "@/components/social/Twitch.astro";
import Twitter from "@/components/social/Twitter.astro";
import Youtube from "@/components/social/Youtube.astro";
import Footer from "@/components/Footer.astro";

---


<Layout title="Afor Linktree">
  <header>
    <Nav />
  </header>
  <main class="grid w-full h-full grid-cols-8 gap-4 pt-10">
    <Presentation />
    <Twitch />
	<TwitchStatus />
    <Discord />
    <Portfolio />
    <Youtube />
    <Twitter />
    <Instagram />
    <Tiktok />
    <Github />
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>
