---
import Layout from "@/layouts/Layout.astro";
import Presentation from "@/components/social/Presentation.astro";
import Discord from "@/components/social/Discord.astro";
import Github from "@/components/social/Github.astro";
import Instagram from "@/components/social/Instagram.astro";
import Portfolio from "@/components/social/Portfolio.astro";
import Tiktok from "@/components/social/Tiktok.astro";
import TwitchStatus from "@/components/social/TwitchStatus.astro";
import Twitch from "@/components/social/Twitch.astro";
import Twitter from "@/components/social/Twitter.astro";
import Youtube from "@/components/social/Youtube.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="Afor Linktree">
  <div class="lamp lamp-left"></div>
  <div class="lamp lamp-right"></div>
  <main class="grid w-full h-full grid-cols-8 gap-4 pt-10 box">
    <Presentation />
    <Twitch />
    <TwitchStatus />
    <Discord />
    <Portfolio />
    <Youtube />
    <Twitter />
    <Instagram />
    <Tiktok />
    <Github />
  </main>
</Layout>

<style is:global>
  :root {
    --slide-in: slide-in 0.3s ease-in-out backwards;
    --fade-in: fade-in 0.3s ease-in-out backwards;
  }
  .box {
    animation: base-anim 0.3s ease-in-out;
  }

  .lamp {
  position: absolute;
  width: 20vh;
  height: 400vh;
  z-index: 0;
  background-image: radial-gradient(
    ellipse,
    rgba(82, 116, 168, 0.5),
    rgba(82, 116, 168, 0.2) 25%,
    rgba(82, 116, 168, 0) 50%
  );
  top: -220vh;
} 

  .lamp-left {
    left: 42vh;
    transform: rotate(15deg) scale(0.7) perspective(23vh) rotateX(30deg);
  }
  .lamp-right {
    left: 42vh;
    transform: rotate(-15deg) scale(0.7) perspective(23vh) rotateX(30deg);
  }

  .circle:nth-child(1) {
    animation:
      var(--fade-in) 0.2s,
      var(--slide-in) 0.2s;
  }
  .circle:nth-child(2) {
    animation:
      var(--fade-in) 0.4s,
      var(--slide-in) 0.4s;
  }
  .circle:nth-child(3) {
    animation:
      var(--fade-in) 0.6s,
      var(--slide-in) 0.6s;
  }
  .circle:nth-child(4) {
    animation:
      var(--fade-in) 0.8s,
      var(--slide-in) 0.8s;
  }

  @keyframes base-anim {
    0% {
      transform: scale(0);
    }
    80% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes slide-in {
    0%,
    50% {
      transform: translateY(10px);
    }
    80% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes fade-in {
    0% {
      background: transparent;
      opacity: 0;
    }
    100% {
      background: #fff;
      opacity: 100%;
    }
  }
</style>
