---
import ArrowIcon from "./icons/ArrowIcon.astro";
---

<div
  class="text-[#0F0512] stroke-[#E2E2E2] group-hover:stroke-white group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform rotate-45 pt-2"
>
  <ArrowIcon />
</div>
