<div class="absolute top-0 left-0 bottom-0 right-0 flex justify-center items-start overflow-hidden">
  <div class="lamp"></div>
</div>
  
<style>
.lamp {
  background:radial-gradient(45.6% 68.2% at 50% 0%, hsla(286, 66%, 29%, 0.603) 0%, rgba(3, 6, 13, 0) 100%);
  height: 480px;
  width: 100%;
}
</style>