---
import { fetchTwitchTitle, fetchTwitchUptime } from "@/services";

const uptime = await fetchTwitchUptime();
const title = uptime !== "-1" ? await fetchTwitchTitle() : null;
---

<article
  id="twitch-container"
  class="col-span-8 text-2xl hidden bg-green min-h-[150px] items-center justify-center"
>
  <p>Si estás leyendo esto, es que afor está en directo, está stremeando:</p>
  <p id="stream-title">{title}</p>
</article>
