---

---

<article
    id="twitch-container"
  class="col-span-8 hidden text-2xl bg-green min-h-[150px] items-center justify-center"
>
  <p>Si estás leyendo esto, es que afor está en directo, está stremeando:</p>
  <p id="stream-title"></p>
</article>

<script>

  getStatus()

  async function getStatus () {
    const STATUS_URL =
      "https://decapi.me/twitch/uptime/afor_digital?offline_msg=-1";

    return fetch(STATUS_URL)
      .then((response) => response.text())
      .then((data) => {
        if (data !== '-1'){
            const elem = document.getElementById("twitch-container") as HTMLElement
            elem.style.display = 'flex'
            getTitle()
        }
      })
      .catch((error) => {
        console.error(error);
      });
  }
  
  async function getTitle () {
    const TITLE_URL =
      "https://decapi.me/twitch/title/afor_digital";

    return fetch(TITLE_URL)
      .then((response) => response.text())
      .then((data) => {
        const elem = document.getElementById("stream-title") as HTMLElement
        elem.innerText = `${data}`
      })
      .catch((error) => {
        console.error(error);
      });
  }

</script>
