---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="max-w-5xl mx-auto pt-20 font-montserrat">
		<slot />
	</body>
</html>



<style is:global>
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}


.blur-effect {
  background: rgba( 22, 13, 24, 0.5 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 24px;
  box-shadow: inset 0 0 10px #fff;
  border: 1px solid #3D2D42;

  -webkit-box-shadow: inset 25px 0px 108px 26px rgba(75,54,82,0.67);
  -moz-box-shadow: inset 25px 0px 108px 26px rgba(75,54,82,0.67);
  box-shadow: inset 25px 0px 108px 26px rgba(75,54,82,0.67);
}



	body {
		background: #000;
		position: relative;
	}

</style>
